body{
        margin: 0;
    min-height: 100vh;

    background-color: #faf6f2;

    background-image:
        radial-gradient(circle at 15% 20%,
            rgba(255, 120, 120, 0.18) 0%,
            transparent 35%),

        radial-gradient(circle at 85% 25%,
            rgba(120, 180, 255, 0.18) 0%,
            transparent 40%),

        radial-gradient(circle at 30% 80%,
            rgba(100, 220, 200, 0.18) 0%,
            transparent 40%),

        radial-gradient(circle at 75% 75%,
            rgba(255, 210, 120, 0.18) 0%,
            transparent 35%),

        radial-gradient(circle at 55% 50%,
            rgba(255, 170, 220, 0.12) 0%,
            transparent 45%);

    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 680px;
    margin: 100px auto;
    
    border-radius: 10px;
}

h1{
    background: linear-gradient(
        90deg,
        #4c1d95,
        #6d28d9,
        #9333ea,
        #c026d3,
        #db2777
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-weight: 800;
    font-size: 55px;
    line-height: 1.5;
}
form{
    display: flex;
    width: 100%;

}

.search-section
 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: rgba(255,255,255,.92);
    border: 1px solid rgba(255,255,255,.7);
    box-shadow:
    0 6px 15px rgba(0,0,0,.05),
    0 20px 45px rgba(109,40,217,.10);
    padding: 20px 25px;
    margin-bottom: 10px ;
    border-radius: 12px;
}
.search-box{
    flex: 1;
    border: solid 2px #A52EE1;
    border-radius: 5px 0 0 15px;
    font-size: 16px;
    padding: 12px;
    transition: all .25s ease;
}

.search-box::placeholder{
    color:#999;
}

.search-box:focus{
    outline: none;
    border: solid 2px #6023BE;
    border-radius: 15px 0px 0px 5px;
    
}
.search-btn{
    width: 80px;
    background-color: #A52EE1;
    color: rgb(255, 255, 255);
    border: solid 2px #A52EE1;
    border-radius: 0 15px 5px 0;
    font-size: 16px;
    transition: all .25s ease;
}
.search-btn:hover{
    background-color: #6023BE;
    color: rgba(255,255,255,.92);
    border: solid 2px #6023BE;
    border-radius: 0 5px 15px 0;

}
.search-btn:focus{
    background-color: #6023BE;
    color: rgba(255,255,255,.92);
    border: solid 2px #6023BE;
    border-radius: 0 5px 15px 0;
}

.caption{
    font-size: 13px;
    color: #5d5d5d;

}
.poem{
     background: rgba(255,255,255,.92);
     border: 1px solid rgba(255,255,255,.7);
    box-shadow:
     0 6px 15px rgba(0,0,0,.05),
     0 20px 45px rgba(109,40,217,.10);
     padding: 20px 10px;
     margin-bottom: 10px ;
     border-radius: 12px 0 12px 0;
}

footer{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
a{
    color: #6023BE;
    text-decoration: none;
    transition: color .2s ease;
   
}

a:hover{
    color: #c026d3;
}